@model Tourism.Models.Offer

@{
    ViewData["Title"] = "Удаление предложения";
}

<div class="container offerRow">
    <h2>Удаление предложения</h2>

    <h3>Вы уверены, что хотите удалить это предложение?</h3>
    <div>
        <h4>Offer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.TypeOffer.Name)
            </dt>
            <dt>
                @Html.DisplayFor(model => model.TypeOffer.Name)
            </dt>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.TextOfOffer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TextOfOffer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfOfferFrom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateOfOfferFrom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfOfferTo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateOfOfferTo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateOfOffer)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateOfOffer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Id)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Удалить" class="btn btn-outline-dark" />
            <a asp-action="Index">Вернуться к списку</a>
        </form>
    </div>
</div>